.granttext(@fontsize: 17px) {
  text-transform: uppercase;
  font-weight: bold; 
  font-size: @fontsize;
}

.boldtext(@fontsize: 17px) {
  font-weight: bold;
  font-size: @fontsize;
}

.blacktext(@color: #000000) {
  color: @color;
}

.defaultli() {
  list-style:none;
  margin: 0px;
  padding:0px;
}

.greyborder() {
  border: 1px solid #ececec;
}