.about {
  
  border-style: solid;
  border-color: #ffffff;
  border-width: 7px 0px 7px;
  border-image: url("../img/zigzag-line-desktop.svg") 23 0 27 fill repeat stretch;
  
  &__wrapper {
    .clearfix();
    width: 260px;
    margin: 0px auto;
  }
  
  &__item {
    .boldtext();
    .blacktext();
    line-height: 20px;
  }
  
}

@media @tablet-widths {
  
  .about {
    
    border-width: 15px 0px 15px;
    border-image: url("../img/zigzag-line-desktop.svg") 23 0 27 fill repeat stretch;
  
    &__wrapper {
      .container();  
    }
    
    &__item {
    .boldtext(20px);
    line-height: 24px;
  }
    
  }
  
}

@media @desktop-widths {
  
  .about {
    
    border-width: 20px 0px 20px;
    border-image: url("../img/zigzag-line-desktop.svg") 23 0 27 fill repeat stretch;
    
  }
  
}