button{
  cursor: pointer;
}

.btn {
  margin: 0px auto;
  background-color: #ffffff;
  .granttext();
  line-height: 16px;
  color: @color;
  border: solid 2px #444444;
  height: 50px;
  width: 260px;
  box-sizing: border-box;
  
  &--addtocart {
    color: #ffffff;
    background-color: @maincolor;
    border: solid 2px @maincolor;
  }
  
}

.btn--featured:hover, .btn--reviews:hover, .btn--cont:hover, .btn--send:hover, .btn--processvideo:hover {
  background-color: #444444;
  color: #ffffff;
}
.btn--featured:active, .btn--reviews:active, .btn--cont:active, .btn--send:active, .btn--processvideo:active {
  background-color: #444444;
  color: #ffffff;
  
  & span {
    opacity: 0.3;
  }
  
}

@media @tablet-widths {
  
}

@media @desktop-widths {
  
}