.catalog {  
  
  &__wrapper {
    .clearfix();
    width: 260px;
    margin: 0px auto;
  }
      
}

@media @tablet-widths {
  
  .catalog {
    
    padding-top: 70px;
  
    &__wrapper {
      .container();
    }
    
  }
  
}

@media @desktop-widths {
  
  .catalog {
    padding-top: 115px;
    
    &__wrapper {
            
    }
    
    &__list {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: space-between;
    }
    
  }
  
}