.catalog {
    padding: 0px 30px;
}

.catalogitem {
  
  margin: 30px 0px;
  
  .greyborder();
  
  &__price {
    .boldtext(15px);
    .blacktext();
    line-height: 24px;
  }
  
  &__user {
    border-top: 1px solid @greyborder;
  }
  
}