.contact {  
  
  &__wrapper {
    .clearfix();
    width: 260px;
    margin: 0px auto;
    line-height: 30px;
  }
  
  &__value a {
    border-bottom: 1px solid @maincolor;
    color: @color;
  }
  
}

@media @tablet-widths {
  
  .contact {
    
    &__wrapper {
    .container();
    }
    
  }
  
}

@media @desktop-widths {
  
}