.featured {
  
  &__wrapper {  
    margin:0px 30px;
  }
  
  &__marker {
    .granttext();
    color: @maincolor;
  }
  
  &__price {
    .boldtext();
    line-height: 24px;
  }
  
  &__desc {
    line-height: 24px;
  }
  
  &__characts {
    line-height: 20px;
    border-collapse: collapse;
    
    & td {
      border-bottom:1px solid @greyborder;
    }
    
  }
  
}