.pagebanner {
  
  background-color: @greyback;
  position: relative;
  width: 100%;
  padding: 0px;
  margin: 0px;
  
  &__wrapper {
    text-align: center;
    padding: 73px 0px;
    .container();
    .clearfix();
  }
  
  &__title {
    white-space:pre-line;
  }
  
}

.pagebanner--mainbg {
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg") ;
  background-position: center -20px;
  background-repeat: no-repeat;
  background-size: 575px 373px;
}

@media (max-width: 767px) and (min-resolution: 144dpi),
  (max-width: 767px) and (min-resolution: 1.5dppx) {
   
    .pagebanner--mainbg {
      background-image: url("../img/hero-mobile@2x.jpg");      
    }
    
}

.pagebanner__wrapper--main {
  height: 142px;
}

@media @tablet-widths {
  
  .pagebanner {
    
    border-top: @greyborder 1px solid;
    
    &::before {
      position: absolute;
      content: "";
      height: 24px;
      width: 100%;
      bottom:-5px;
      left:0px;
      background: url("../img/zigzag-fill-desktop.svg") repeat-x;
      background-size: contain;
      z-index: 2;
    }
    
    &__wrapper {
      padding: 95px 0px 85px;
    }
    
       
    &__title {
    white-space:normal;
    }
    
  }
  
  .pagebanner--mainbg {
    background-image: url("../img/hero-desktop@1x.jpg") ;
    background-color: #f9f9f9 ;
    background-position: center -5px;
    background-repeat: no-repeat;
    background-size: 1150px 746px;
   }
    
  .pagebanner__wrapper--main {
    height: 326px;
    padding: 150px 0px;
  }
  
}

@media (min-width: 768px) and (min-resolution: 144dpi),
    (min-width: 768px) and (min-resolution: 1.5dppx) {
      
     .pagebanner--mainbg {
    background-image: url("../img/hero-desktop@2x.jpg") ;    
   } 
      
  }

@media @desktop-widths {
  
  .pagebanner {
    
    &__wrapper {
      padding: 90px 0px 120px;
    }
    
    &::before {
      height: 36px;
      background-size: contain;
      z-index: 2;
    }
    
    &__title {
      padding: 0px 150px;
    }
    
  }

.pagebanner--mainbg {
  background-position:center -3px ;
  }  
  
.pagebanner__wrapper--main {
  height: 325px;
  padding: 150px 0px 150px;
  }  
  
}