.pagebanner {
  background-color: @greyback;
  text-align: center;
  padding: 70px 30px;
  
  &__title {
    white-space:pre-line;
  }
  
}

.pagebanner--main {
  background:@greyback url("../../img/hero-mobile@1x.jpg") center -20px no-repeat;
  height: 140px;
}