.reviews {
  
  blockquote {
    line-height: 30px;
  }
  
  &__prev {
    .greyborder();
  }
  
  &__next {
    .greyborder();
  }
  
  &__avtor {
    .blacktext();    
    .boldtext(18px);
    line-height: 24px;
    font-style:normal;
    
    span {
      color: @color;
      font-size: 15px;
      line-height: 30px;
      font-weight: normal;
    }    
    
  }
  
}