.reviews {
  
  &__wrapper {
    .clearfix();
    width: 260px;
    margin: 30px auto ;
  }
  
  &__prevnext {
    padding-top: 30px;
  }
  
  &__text {
    line-height: 30px;
    padding: 0px;
    margin: 25px 0px 25px;
  }
  
  &__prev {
    .greyborder();
    background: #ffffff url("../img/icon-left-arrow.svg") center no-repeat;
    border-width: 1px;
    height: 50px;
    width: 130px;
    box-sizing: border-box;
    margin: 0px;
    border-right: none;
    
    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.3;
    }
    
  }
  
  &__next {
    .greyborder();
    background: #ffffff url("../img/icon-right-arrow.svg") center no-repeat;
    border-width: 1px;
    height: 50px;
    width: 130px;
    box-sizing: border-box;
    margin: 0px 0px 0px -4px;
    
    
     &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.3;
    }
    
  }
  
  &__btn {
    margin: 40px 0px 15px;
  }
  
  &__avtor {
    .blacktext();    
    .boldtext(18px);
    line-height: 30px;
    font-style:normal;
    
    & span {
      color: @color;
      font-size: 18px;
      line-height: 30px;
      font-weight: normal;
      font-family: "Open Sans", "Arial", sans-serif;
    }    
    
  }
  
}

@media @tablet-widths {
  
  .reviews {           
    
    &__wrapper {
      .container();
      margin-top: 97px;
      padding-top: 10px;
      padding-bottom: 105px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
      align-content: center; 
    }
    
    &__bg {
      position: relative;
      .container();
    }
    
    &__bg2 {
      position: absolute;
      top: -70px;
      left:-50px;
      width: 350px;
      height: 457px;
      background-image: url("../img/review@1x.jpg") ;
      background-position: top left ;
      background-repeat: no-repeat;
      z-index: 1;
    }
        
    &__title {
      order: 0;
      z-index: 2;
    }
    
    &__text {
      font-size: 17px;
      order: 2;
      width: 100%;
      z-index: 2;
      margin: 50px 0px;
    }
    
    &__avtor {
      order: 3;
      z-index: 2;
    }
    
    &__prevnext {
      order: 4;
      padding: 10px 0px;
    }
    
    &__prev {
      border: none;
      width: 86px;
    }
    
    &__next {
      border: none;
      width: 86px;
    }
    
    &__btn {
      order: 1;
      margin: 0px;
    }
    
  }
  
  .btn--reviews {
    width: 175px;
  }
  
}

@media (min-width: 768px) and (min-resolution: 144dpi),
  (min-width: 768px) and (min-resolution: 1.5dppx) {    
     .reviews__bg2 {      
      background-image: url("../img/review@2x.jpg") ;     
    }    
}

@media @desktop-widths {
  
  .reviews {
    
    &__wrapper {
      padding-bottom: 150px;
    }
    
    &__title {
      margin-left: 170px;
    }
    
    &__text {
      margin-left: 175px;
      margin-right: 100px;
      margin-bottom: 35px;
      margin-top: 45px;
    }
    
    &__avtor {
      margin-left: 175px;
    }
    
      &__bg2 {
      position: absolute;
      top: -60px;
      left:0px;
      width: 350px;
      height: 457px;
      background-image: url("../img/review@1x.jpg") ;
      background-position: top left ;
      background-repeat: no-repeat;
      z-index: 1;
    }
    
  }
  
  .btn--reviews {
    margin-top: 15px;
  }
  
}