.sociallinks {
  display: flex;
  flex-direction: column;
  height: 40px;
  width: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  width: 155px;
}

@media @tablet-widths {
  
  .sociallinks {
    width: 160px;
  } 
  
}

@media @desktop-widths {
  
   .sociallinks {
    width: 158px;
     padding-top: 5px;
  } 
  
}