.sociallink {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  
  &--in {
    background: url("../img/icon-insta.svg") center no-repeat;
  }

  &--fb {
    background: url("../img/icon-fb.svg") center no-repeat;
  }

  &--tw {
    background: url("../img/icon-twitter.svg") center no-repeat;
  }
  
}

@media @tablet-widths {
  
  sociallink {
    
  }
  
}

@media @desktop-widths {
  
}