a.sociallink {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

a.sociallink--in {
  background: url("../../img/icon-insta.svg") center center no-repeat;
}

a.sociallink--fb {
  background: url("../../img/icon-fb.svg") center center no-repeat;
}

a.sociallink--tw {
  background: url("../../img/icon-twitter.svg") center center no-repeat;
}