.topmenu {
  .greyborder();
  
  &__wrapper {
    .container();
    .clearfix();
  }
  
  &__logo {
    line-height: 78px;
    text-align: center;
    
    & img {
      vertical-align: middle;
    }
  }
  
}

@media @tablet-widths {
  
}

@media @desktop-widths {
  
}