.topmenu {
  
  border-bottom: @greyborder 1px solid;
    
  &__wrapper {
    .container();
    .clearfix();
  }
  
  &__logo {
    line-height: 78px;
    text-align: center;
    
    & img {
      vertical-align: middle;
    }
  }
  
}

@media @tablet-widths {
  
  .topmenu {
    
    margin-bottom: -64px;
        
    &__wrapper {
      position: relative;
    }
    &__logo {
      position: absolute;
      top: 0px;
      left:0px;
      width: 180px;
      height: 89px;
      z-index: 25;
      text-align: left;
    }
  }
  
}

@media @desktop-widths {
  
  .topmenu {
    
     &__logo {
      position: absolute;
      top: 0px;
      left:435px;
      width: 180px;
      height: 89px;
      z-index: 25;
      text-align: center;
    }
    
  }
  
}